@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}

/* Shared Styles */
.display-flex {
    display: flex;
}

.dark-1 {
    color: #131313;
}

.dark-2 {
    color: #424242;
}

.dark-3 {
    color: #727272;
}

.white {
    color: #FFFFFF;
}

.orange {
    color: #FF900E;
}

.btn-primary {
    width: 180px;
    height: 64px;
    font-size: 1.25rem;
    font-weight: 500;
    border: none;
    background: #FF900E;
    color: #FFFFFF;
    border-radius: 8px;
}


.bg-light {
    background: rgba(255, 144, 14, 0.1);
}

.description {
    color: rgb(114, 114, 114);
    font-family: Work Sans;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

.section-title {
    font-size: 2.8rem;
    font-weight: 700;
}

/* Header Styles */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}

.brand {
    font-weight: 700;
    font-size: 2.8rem;
}

.nav-item {
    list-style: none;
    margin-right: 30px;
}

.nav-link {
    text-decoration: none;
    font-weight: 500;
    color: #424242;
    font-size: 1.12rem;
}

.navbar,
.banner {
    max-width: 1440px;
    margin: 0 auto;
}

/* banner styles */
.banner {
    margin-top: 116px;
}

.banner-content {
    max-width: 862px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    font-size: 4rem;
    font-weight: bold;
    color: #131313;
}

.banner-description {
    font-size: 1rem;
    color: #727272;
    line-height: 26px;
    margin-top: 24px;
    margin-bottom: 32px;
}

.banner-image {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 45px;
}

/* teams section styling */
.teams {
    gap: 79px;
    margin-top: 85px;
    align-items: center;
    margin-bottom: 130px;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.team-img-container img {
    width: 100%;
}

.our-features {
    max-width: 537px;
}

.our-features .section-title {
    font-size: 2.81rem;
}

#quick-list {
    font-weight: lighter;
}

.feature-description {
    margin-top: 24px;
    margin-bottom: 32px;
}

/* features section styling */
.features {
    justify-content: space-between;
    gap: 146px;
    margin-bottom: 130px;
}

#feature-section-title {
    border-left: 5px solid #FF900E;
    padding-left: 20px;
    margin-bottom: 24px;
}

#f2-description {
    max-width: 586px;
    margin-bottom: 30px;
}

.feature-card {
    max-width: 586px;
    height: 171px;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
}

.feature-card .feature-title {
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0px;
    margin-bottom: 10px;
}

#experience-badge {
    height: 200px;
    width: 342px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -85px;
    margin-top: -120px;
}

#experience-year {
    font-size: 4rem;
    font-weight: 700;
}

.featured-architect {
    max-width: 800px;
    max-height: 1059px;
}

.featured-architect img {
    width: 100%;
}


/* fact section styling */
.facts-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    margin-bottom: 180px;
}

.facts .section-title {
    margin-bottom: 24px;
}

.fact-card {
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.fact-number {
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}

.fact-name {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}

.fact-description {
    max-width: 540px;
    margin-bottom: 108px;
}

/* sponsor section styling*/
.sponsor-info {
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}

.sponsor-companies {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.sponsor-companies img {
    filter: grayscale(100%);
}

.sponsor-info .section-title {
    margin-bottom: 24px;
}

.sponsor-info p {
    margin-bottom: 50px;
}

/* for small devices */
@media screen and (max-width: 576px) {

    .navbar,
    .nav-links,
    .teams,
    .features {
        flex-direction: column;
    }

    .team-img-container,
    .facts-container,
    .sponsor-companies {
        grid-template-columns: 1fr;
    }

    .our-features {
        padding: 0 20px;
    }
    .features{
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    #experience-badge {
        width: 160px;
        height: 80px;
        font-size: 0.75rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0 auto;
    }

    #experience-year {
        font-size: 1.5rem;
        font-weight: 700;
    }

    .facts-container {
        justify-items: center;
        gap: 24px;
    }

    .facts .section-title,
    .fact-description {
        text-align: center;
        margin: 0 auto;
    }

    .fact-description {
        margin-top: 24px;
        margin-bottom: 24px;
    }

    .sponsor-companies {
        justify-items: center;
        gap: 25px;
    }

}

/* for medium devices */
@media screen and (min-width: 576px) and (max-width: 992px) {

    .teams,
    .features {
        flex-direction: column;
    }
    .features{
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    #experience-badge {
        width: 260px;
        height: 140px;
        font-size: 0.75rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0 auto;
    }
    #experience-year {
        font-size: 1.5rem;
        font-weight: 700;
    }

    .facts-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        justify-items: center;
    }

    .facts .section-title,
    .fact-description {
        text-align: center;
        margin: 0 auto;
    }

    .fact-description {
        margin-top: 24px;
        margin-bottom: 24px;
    }

    .sponsor-companies {
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
        justify-items: center;
    }
}